*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
    
}
@font-face {
    font-family:Inter ;
    src: url(../fonts/Inter_28pt-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter_28pt-ExtraBold.ttf);
    font-weight: 900;
}
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter_28pt-Regular.ttf);
    font-weight: 400;
}
button{
    transition: background-color 0.2s ease-in-out; 
}
.btn:hover{
    background-color: #5b4dfb;
    
}
a{
    transition: color 0.3s ease-in-out;
}

a:hover{
    color: #5b4dfb;
    text-decoration: underline;
}

a{
    text-decoration: none;
}
li{
    text-decoration: none;
}
//color
$violet:#888BEA;
$blue:#142052;
//fonts



.header{
    &__burger{
        display: none;
        @media (max-width: 376px) {
            display: block; 
        }
    }
    .menu{
        display: none;
        @media (max-width: 376px){
            display: block;
        }
    }
    .burger-checkbox {
        position: absolute;
        visibility: hidden;
      }
      .burger {
        position: relative;
        z-index: 1;
        cursor: pointer;
        display: block;
        position: relative;
        border: none;
        background: transparent;
        width: 40px;
        height: 26px;
      }
      .burger::before,
      .burger::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: #ffffff;
      }
      .burger::before {
        top: 0;
        box-shadow: 0 11px 0 #fffefe;
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
      }
      .burger::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
      }
      .burger-checkbox:checked + .burger::before {
        top: 11px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(0,0,0,0);
        transition: box-shadow .15s, top .3s, transform .3s .15s;
      }
      .burger-checkbox:checked + .burger::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom .3s, transform .3s .15s;
      }
      .menu-list {
        top: 0;
        left: 0;
        position: absolute;
        display: grid;
        gap: 12px;
        padding: 42px 0;
        margin: 0;
        background:$blue;
        list-style-type: none;
        transform: translateX(-100%);
        transition: .3s;
        width: 100px;
        border-radius: 0 20px 20px 0 ;
      }
      .menu-item {
        display: block;
        padding: 8px;
        color: white;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
      }
      .menu-item:hover {
        background:#0c0d38 ;
      }
      .burger-checkbox:checked ~ .menu-list {
        transform: translateX(0);
      }
    padding-top: 12px;
    padding-bottom: 12px;
    color: #fff;
    background-color: #142052;
    &__wrap{
        display: flex;
        justify-content: space-between;   
        // padding-top: 80px; 
    }
    &__logo{
        display: flex;
        margin-left: 50px;
        font-size: 24px;
        @media (max-width: 376px){
            display: none;
            
        }
        &-img{
            width: 67px;
            height: 67px;
        }
    }
    
    &__title{
        font-size: 30px;
        font-weight: 900;
    }
    &__menu{
        display: flex;
        gap: 50px;
        margin-right: 50px;
        @media (max-width: 376px){
            display: none;
            margin: 0;
            
        }
        a{
            color: #fff;
            font-size: 22px;
            font-family: Inter;
            font-weight: 900;
        }
        &-img{
            width: 38px;
            height: 38px;
        }
        &__a{
            display: flex;
            flex-direction: column;
            align-items: center;   
        }   
    }
}
.katalog{

    &__title{
        display: flex;
        margin-top: 81px;
        margin-left: 247px;
        @media (max-width: 376px){
            margin: 30px;
        }   
        &-img{
            width: 53px;
            height: 65px;
            margin-top: 25px;
            @media (max-width: 376px){
                margin: 5px;
            }
        }
        &-h2{
            color: #888BEA;
            font-size: 90px;
            font-weight: 400;
            @media (max-width: 376px){
                font-size: 64px;
            }
        }
    }
    &__filter{
        display: flex;
        justify-content: space-between;
        margin: 0 152px 0 152px;
        @media (max-width: 376px){    
           display: flex;
           flex-wrap: wrap;
        
           margin: 0;
           padding: 0 24px 0 24px;
        }
    }
    &__btn{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid #888BEA;
        color: #888BEA;
        padding: 8px;
        font-size: 22px;
        font-weight: 400;
        border-radius: 20px;
        width: 210px;
        margin-top: 71px;
        @media (max-width: 376px){  
            padding: 5px;
            font-size: 15px;
            margin: 0px;  
            width: 150px;
            margin: 5px;
            
            
        }
        &-img{
            max-width: 37px;
            max-height: 37px;
            @media (max-width: 376px){    
                max-width: 20px;
                
            }
        }
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        margin: 52px 0px 0 90px;
        @media (max-width: 376px){  
            // display: flex;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            
            // justify-content: space-evenly;
            margin: 0;  
        }
        &__card{
            background-color: #DDE4FF;
            padding: 20px;
            border-radius: 20px;
            margin: 12px;
            @media (max-width: 376px){   
                
                 padding: 5px;
            }
            &-img{
                width: 270px;
                height: 150px;
                border-radius: 20px;
                @media (max-width: 376px){   
                    max-width: 150px;
                    max-height: 120px;
               }
            }
            &-h3{
                color: #888BEA;
                font-size: 40px;
                font-weight: 400; 
                @media (max-width: 376px){    
                    font-size: 20px;
                }     
            }
            &-p{
                color:#0A0404;
                font-size: 32px;
                font-weight: 400;
                @media (max-width: 376px){    
                    font-size: 17px;
                }
            }
            &-p2{
                font-size: 20px;
                font-weight: 400;
                @media (max-width: 376px){ 
                    font-size: 14px;   
                }
            }
            &-btn{
                position: relative;
                left: 174px;
                bottom: -20px;
                font-size: 22px;
                font-weight: 400;
                color: #fff;
                background-color:  #888BEA;
                border-radius: 20px 0 20px 0;
                padding: 13px ;
                border: 0;
                @media (max-width: 376px){  
                    padding: 5px;
                    font-size: 12px;  
                    position: relative;
                    left: 95px;
                    bottom: -4px;
                }
            }
        } 
    }
    &__dopInfo{
        display: flex;
        justify-content: center;
        &-h3{
            color: #958989;
            font-size: 48px;
            font-weight: 700;
            letter-spacing: 4%;
            padding-top: 10px;
            @media (max-width: 376px){    
                font-size: 30px;
            }
        }
    }
}
.footer{
    margin-top: 170px;
    background-color: $blue;

    padding-top: 160px;
    @media (max-width: 376px){  
        padding-top: 20px;
        margin-top: 20px;  
    }
    .container{
        display: flex;
        justify-content: space-around;
        @media (max-width: 376px){ 
            flex-direction: column;  
            padding-left: 20px; 
        }
    }
    &-box{
        &-logo{
            display: flex;
            align-items: flex-start;
            h2{
                font-size: 32px;
                font-weight: 900;
                color: #fff;
            }
        }
       p{
           font-size: 18px;
           font-weight: 900;
           color: #fff;
           padding-bottom: 20px;
       }
    img{
        max-width: 80px;
    }
    
   }
   &-privace{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;

    
}
&-text{
    display: flex;
    align-items: flex-start;
    @media (max-width: 376px){
        display: flex;
        flex-direction: column;    
    }
    p{
        padding: 20px;
        color: #fff;
        font-size: 13px;
        font-weight: 200;
    }
}
    &-card{
        display: flex;
        align-items: flex-end;
        @media (max-width: 376px){ 
            display: flex;
            flex-direction: column;   
           img{
            max-width: 70px;
           }
        }
        img{
            padding: 10px;
        }
    }

}